*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	
	outline:0 none !important;
} 

html {
	box-sizing: border-box;
	font-size: 62.5%; /* 10px / 16px -> 62.5% -> 1rem -> 10px */
		
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;	
} 

html,
body,
#react_root {
	position: relative;
		
	width: 100vw;
	height: 100vh;
	
	top: 0px;
	left: 0px;
	
	font-family: 'Orbitron', sans-serif;
	font-weight: 500;
	font-style: normal;
}